<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User update car page</title>
</head>

<body class="background">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">ARR cars</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/offers">Offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/insurance">Insurance</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
    <div class="container-fluid head">
        <div class="row">
            <div class="col-4 whiteBackgroundDiv">
                <h1>Update your car</h1>
            </div>
        </div>
        <div class="col-8">
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <h5 class="card-title"><%= results.name %></h5>
                <form action="/userCars/update/<%= results1.model_id %>" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <span>
                            <input type="file" class="form-control shadow p-3 mb-5 bg-white rounded uploadFile"
                                name="photo" value="<%= results1.photo %>" id="uploadFile">
                        </span>
                        <label for="uploadFile" class="labelUpload"><span>Upload picture</span></label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Model</label>
                        <input name="model" type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="<%= results1.model %>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Manufacturing year</label>
                        <input name="year" type="text" class="form-control" id="exampleInputPassword1"
                            value="<%= results1.year %>" placeholder="<%= results1.year %>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Kms</label>
                        <input name="kms" type="text" class="form-control" id="exampleInputPassword1"
                            value="<%= results1.kms %>" placeholder="<%= results1.kms %>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Price</label>
                        <input name="price" type="text" class="form-control" id="exampleInputPassword1"
                            value="<%= results1.price %>" placeholder="<%= results1.price %>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Country</label>
                        <select class="form-control formSpacing" name="country">
                            <option selected="true" disabled="disabled" required><%= results1.country %></option>
                            <option>Austria</option>
                            <option>Belgium</option>
                            <option>Bulgaria</option>
                            <option>Croatia</option>
                            <option>Republic of Cyprus</option>
                            <option>Czech Republic</option>
                            <option>Denmark</option>
                            <option>Estonia</option>
                            <option>Finland</option>
                            <option>France</option>
                            <option>Germany</option>
                            <option>Greece</option>
                            <option>Hungary</option>
                            <option>Ireland</option>
                            <option>Italy</option>
                            <option>Latvia</option>
                            <option>Lithuania</option>
                            <option>Luxembourg</option>
                            <option>Malta</option>
                            <option>Netherlands</option>
                            <option>Poland</option>
                            <option>Portugal</option>
                            <option>Romania</option>
                            <option>Slovakia</option>
                            <option>Slovenia</option>
                            <option>Spain</option>
                            <option>Sweden</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <input type="text" class="form-control description" id="exampleInputPassword1"
                            placeholder="<%= results1.description %>" name="description">
                        </input>
                        <button type="submit" class="btn btn-primary buttonSubmit">Save</button>
                </form>
            </div>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>